.card {
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
  }

label {
    font-weight: bold;
    display: block;
}

.textBox {
    margin-left: 10px;
    width: 284px; /* this width is your initial width - padding-left - padding-right; */
    padding:0 8px;
    border-radius: 50px;
    font-size: 15px;
}